---
import Layout from "@layouts/default.astro";
import "@styles/long-text-content.css";
import Headline from "@components/headline.astro";
import { useTranslations } from "@utils/i18n";

const locale = 'fr';
const t = useTranslations(locale);
---

<Layout title={t('pages.privacy-policy.title')} robots="noindex, follow" {locale} header={{ showTopBanner: false }}>
  <Headline text={t('pages.privacy-policy.title')} class="pb-10" />

  <div class="long-text-content text-left wrap-break-word">
    <p>
      L'utilisation de notre site web est en principe possible sans communication de données à caractère personnel. Dans la mesure où des données à caractère personnel (par exemple nom, adresse postale ou adresses e-mail) sont collectées sur nos pages, cela se fait, autant que possible, toujours sur une base volontaire. Ces données ne sont pas transmises à des tiers sans votre consentement exprès.
    </p>
    <p>Nous attirons votre attention sur le fait que la transmission de données sur Internet (par exemple lors d'une communication par e-mail) peut présenter des failles de sécurité. Une protection sans faille des données contre l'accès par des tiers n'est pas possible.</p>
    <p>
      L'utilisation par des tiers des coordonnées publiées dans le cadre de l'obligation de mentions légales pour l'envoi de publicité et de matériel d'information non expressément demandés est expressément interdite. Les exploitants des pages se réservent expressément le droit d'engager des poursuites judiciaires en cas d'envoi non sollicité d'informations publicitaires, notamment par des
      courriels indésirables (spam).
    </p>

    <p>&nbsp;</p>

    <h2>1. Protection des données en un coup d'&oelig;il</h2>
    <h3>Indications générales</h3>
    <p>
      Les indications suivantes vous donnent un aperçu simple de ce qu'il advient de vos données à caractère personnel lorsque vous visitez ce site web. Les données à caractère personnel sont toutes les données qui permettent de vous identifier personnellement. Vous trouverez des informations détaillées sur le sujet de la protection des données dans notre déclaration de protection des données
      figurant sous ce texte.
    </p>
    <h3>Collecte des données sur ce site web</h3>
    <h4>Qui est responsable de la collecte des données sur ce site web&nbsp;?</h4>
    <p>Le traitement des données sur ce site web est effectué par l'exploitant du site. Vous trouverez ses coordonnées dans la rubrique «&nbsp;Information sur le responsable du traitement&nbsp;» de la présente déclaration de protection des données.</p>
    <h4>Comment collectons-nous vos données&nbsp;?</h4>
    <p>Vos données sont collectées d'une part par le fait que vous nous les communiquez. Il peut s'agir par exemple de données que vous saisissez dans un formulaire de contact.</p>
    <p>D'autres données sont collectées automatiquement ou avec votre consentement lors de votre visite du site web par nos systèmes informatiques. Il s'agit principalement de données techniques (par exemple navigateur Internet, système d'exploitation ou heure de consultation de la page). La collecte de ces données se fait automatiquement dès que vous accédez à ce site web.</p>
    <h4>À quoi utilisons-nous vos données&nbsp;?</h4>
    <p>Une partie des données est collectée afin de garantir la mise à disposition sans erreur du site web. D'autres données peuvent être utilisées pour analyser votre comportement d'utilisateur.</p>
    <h4>Quels droits avez-vous concernant vos données&nbsp;?</h4>
    <p>
      Vous avez à tout moment le droit d'obtenir gratuitement des informations sur l'origine, les destinataires et la finalité de vos données à caractère personnel enregistrées. Vous avez en outre le droit de demander la rectification ou la suppression de ces données. Si vous avez donné votre consentement au traitement des données, vous pouvez révoquer ce consentement à tout moment pour l'avenir.
      Vous avez également le droit, dans certaines circonstances, de demander la limitation du traitement de vos données à caractère personnel. En outre, vous disposez d'un droit de réclamation auprès de l'autorité de contrôle compétente.
    </p>
    <p>Pour cela, ainsi que pour toute autre question concernant la protection des données, vous pouvez nous contacter à tout moment.</p>

    <h2>2. Hébergement et réseaux de diffusion de contenu (CDN)</h2>
    <h3>Hébergement externe</h3>
    <p>
      Ce site web est hébergé chez un prestataire externe (hébergeur). Les données à caractère personnel collectées sur ce site web sont enregistrées sur les serveurs de l'hébergeur. Il peut s'agir notamment d'adresses IP, de demandes de contact, de métadonnées et de données de communication, de données contractuelles, de coordonnées, de noms, d'accès au site web et d'autres données générées via
      un site web.
    </p>
    <p>
      Le recours à l'hébergeur a pour objectif l'exécution du contrat vis-à-vis de nos clients potentiels et existants (art. 6 al. 1 lit. b RGPD) ainsi que la fourniture sécurisée, rapide et efficace de notre offre en ligne par un prestataire professionnel (art. 6 al. 1 lit. f RGPD). Si un consentement correspondant a été demandé, le traitement s'effectue exclusivement sur la base de l'art. 6 al.
      1 lit. a RGPD et du § 25 al. 1 TTDSG, dans la mesure où le consentement comprend le stockage de cookies ou l'accès à des informations sur le terminal de l'utilisateur (par exemple le fingerprinting de l'appareil) au sens du TTDSG. Le consentement est révocable à tout moment.
    </p>
    <p>Notre hébergeur ne traitera vos données que dans la mesure nécessaire à l'exécution de ses obligations de prestation et suivra nos instructions concernant ces données.</p>
    <p>Nous utilisons l'hébergeur suivant&nbsp;:</p>
    <p>Cloudflare Inc., 101 Townsend St., San Francisco, CA 94107, États-Unis (ci-après «&nbsp;Cloudflare&nbsp;»)</p>
    <h4>Sous-traitance</h4>
    <p>Nous avons conclu un contrat de sous-traitance (CST) avec le prestataire mentionné ci-dessus. Il s'agit d'un contrat prescrit par le droit de la protection des données, qui garantit que ce dernier ne traite les données à caractère personnel de nos visiteurs que selon nos instructions et dans le respect du RGPD.</p>
    <h3>CDN</h3>
    <p>
      Cloudflare propose un réseau de diffusion de contenu (CDN) distribué dans le monde entier avec DNS. Techniquement, le transfert d'informations entre votre navigateur et notre site web est acheminé via le réseau de Cloudflare. Cela permet à Cloudflare d'analyser le trafic de données entre votre navigateur et notre site web et de servir de filtre entre nos serveurs et un trafic potentiellement
      malveillant provenant d'Internet. Dans ce cadre, Cloudflare peut également utiliser des cookies ou d'autres technologies de reconnaissance des internautes, qui ne sont toutefois utilisés qu'aux fins décrites ici.
    </p>
    <p>L'utilisation de Cloudflare repose sur notre intérêt légitime à fournir notre offre en ligne de la manière la plus exempte d'erreurs et la plus sûre possible (art. 6 al. 1 lit. f RGPD).</p>
    <p>Le transfert de données vers les États-Unis est fondé sur les clauses contractuelles types de la Commission européenne. Vous trouverez les détails ici&nbsp;: <a href="https://www.cloudflare.com/privacypolicy/" target="_blank" rel="noopener noreferrer">https://www.cloudflare.com/privacypolicy/</a>.</p>
    <p>Vous trouverez de plus amples informations sur la sécurité et la protection des données chez Cloudflare ici&nbsp;: <a href="https://www.cloudflare.com/privacypolicy/" target="_blank" rel="noopener noreferrer">https://www.cloudflare.com/privacypolicy/</a>.</p>

    <h2>3. Indications générales et informations obligatoires</h2>
    <h3>Protection des données</h3>
    <p>Les exploitants de ces pages prennent très au sérieux la protection de vos données personnelles. Nous traitons vos données à caractère personnel de manière confidentielle et conformément aux dispositions légales en matière de protection des données ainsi qu'à la présente déclaration de protection des données.</p>
    <p>Lorsque vous utilisez ce site web, différentes données à caractère personnel sont collectées. Les données à caractère personnel sont les données qui permettent de vous identifier personnellement. La présente déclaration de protection des données explique quelles données nous collectons et à quoi nous les utilisons. Elle explique également comment et dans quel but cela se produit.</p>
    <p>Nous attirons votre attention sur le fait que la transmission de données sur Internet (par exemple lors d'une communication par e-mail) peut présenter des failles de sécurité. Une protection sans faille des données contre l'accès par des tiers n'est pas possible.</p>
    <h3>Information sur le responsable du traitement</h3>
    <p>Le responsable du traitement des données sur ce site web est celui indiqué dans les mentions légales.</p>
    <p>Le responsable du traitement est la personne physique ou morale qui, seule ou conjointement avec d'autres, détermine les finalités et les moyens du traitement des données à caractère personnel (par exemple, noms, adresses e-mail, etc.).</p>
    <h3>Durée de conservation</h3>
    <p>
      Dans la mesure où aucune durée de conservation plus spécifique n'a été mentionnée dans la présente déclaration de protection des données, vos données à caractère personnel restent chez nous jusqu'à ce que la finalité du traitement des données disparaisse. Si vous faites valoir une demande de suppression légitime ou révoquez votre consentement au traitement des données, vos données seront
      supprimées, à moins que nous n'ayons d'autres motifs légalement admissibles de conserver vos données à caractère personnel (par exemple, des délais de conservation prévus par le droit fiscal ou commercial)&nbsp;; dans ce dernier cas, la suppression a lieu après la disparition de ces motifs.
    </p>
    <h3>Indications générales sur les bases juridiques du traitement des données sur ce site web</h3>
    <p>
      Dans la mesure où vous avez consenti au traitement des données, nous traitons vos données à caractère personnel sur la base de l'art. 6 al. 1 lit. a RGPD ou de l'art. 9 al. 2 lit. a RGPD, dans la mesure où des catégories particulières de données au sens de l'art. 9 al. 1 RGPD sont traitées. Si vous avez consenti au stockage de cookies ou à l'accès à des informations sur votre terminal (par
      exemple via le fingerprinting de l'appareil), le traitement des données s'effectue en outre sur la base du § 25 al. 1 TTDSG. Le consentement est révocable à tout moment. Si vos données sont nécessaires à l'exécution d'un contrat ou à la réalisation de mesures précontractuelles, nous traitons vos données sur la base de l'art. 6 al. 1 lit. b RGPD. En outre, nous traitons vos données dans la
      mesure où celles-ci sont nécessaires à l'exécution d'une obligation légale, sur la base de l'art. 6 al. 1 lit. c RGPD. Le traitement des données peut en outre être effectué sur la base de notre intérêt légitime conformément à l'art. 6 al. 1 lit. f RGPD. Les bases juridiques applicables au cas par cas sont indiquées dans les paragraphes suivants de la présente déclaration de protection des
      données.
    </p>
    <h3>Information sur la transmission de données vers les États-Unis et d'autres pays tiers</h3>
    <p>
      Nous utilisons entre autres des outils d'entreprises basées aux États-Unis ou dans d'autres pays tiers non sûrs au regard du droit de la protection des données. Lorsque ces outils sont actifs, vos données à caractère personnel peuvent être transférées vers ces pays tiers et y être traitées. Nous attirons votre attention sur le fait que dans ces pays, aucun niveau de protection des données
      comparable à celui de l'UE ne peut être garanti. Par exemple, les entreprises américaines sont tenues de transmettre des données à caractère personnel aux autorités de sécurité, sans que vous, en tant que personne concernée, puissiez intenter une action en justice contre cela. Il ne peut donc être exclu que des autorités américaines (par exemple les services de renseignement) traitent,
      analysent et stockent durablement vos données se trouvant sur des serveurs américains à des fins de surveillance. Nous n'avons aucune influence sur ces activités de traitement.
    </p>
    <h3>Révocation de votre consentement au traitement des données</h3>
    <p>De nombreuses opérations de traitement de données ne sont possibles qu'avec votre consentement exprès. Vous pouvez révoquer à tout moment un consentement déjà donné. La licéité du traitement des données effectué jusqu'à la révocation n'est pas affectée par celle-ci.</p>
    <h3>Droit d'opposition à la collecte de données dans des cas particuliers ainsi qu'à la publicité directe (art. 21 RGPD)</h3>
    <p>
      LORSQUE LE TRAITEMENT DES DONNÉES EST EFFECTUÉ SUR LA BASE DE L'ART. 6 AL. 1 LIT. E OU F RGPD, VOUS AVEZ À TOUT MOMENT LE DROIT, POUR DES RAISONS TENANT À VOTRE SITUATION PARTICULIÈRE, DE VOUS OPPOSER AU TRAITEMENT DE VOS DONNÉES À CARACTÈRE PERSONNEL&nbsp;; CELA VAUT ÉGALEMENT POUR UN PROFILAGE FONDÉ SUR CES DISPOSITIONS. LA BASE JURIDIQUE SUR LAQUELLE REPOSE LE TRAITEMENT EST INDIQUÉE DANS
      LA PRÉSENTE DÉCLARATION DE PROTECTION DES DONNÉES. SI VOUS FORMEZ OPPOSITION, NOUS NE TRAITERONS PLUS VOS DONNÉES À CARACTÈRE PERSONNEL CONCERNÉES, À MOINS QUE NOUS NE PUISSIONS DÉMONTRER L'EXISTENCE DE MOTIFS LÉGITIMES IMPÉRIEUX POUR LE TRAITEMENT, QUI L'EMPORTENT SUR VOS INTÉRÊTS, DROITS ET LIBERTÉS, OU QUE LE TRAITEMENT SERVE À LA CONSTATATION, À L'EXERCICE OU À LA DÉFENSE DE DROITS EN
      JUSTICE (OPPOSITION SELON L'ART. 21 AL. 1 RGPD).
    </p>
    <p>
      SI VOS DONNÉES À CARACTÈRE PERSONNEL SONT TRAITÉES À DES FINS DE PROSPECTION COMMERCIALE, VOUS AVEZ LE DROIT DE VOUS OPPOSER À TOUT MOMENT AU TRAITEMENT DES DONNÉES À CARACTÈRE PERSONNEL VOUS CONCERNANT À DE TELLES FINS&nbsp;; CELA VAUT ÉGALEMENT POUR LE PROFILAGE, DANS LA MESURE OÙ IL EST LIÉ À UNE TELLE PROSPECTION COMMERCIALE. SI VOUS VOUS OPPOSEZ, VOS DONNÉES À CARACTÈRE PERSONNEL NE
      SERONT PLUS UTILISÉES ENSUITE À DES FINS DE PROSPECTION COMMERCIALE (OPPOSITION SELON L'ART. 21 AL. 2 RGPD).
    </p>
    <h3>Droit de réclamation auprès de l'autorité de contrôle compétente</h3>
    <p>En cas de violation du RGPD, les personnes concernées disposent d'un droit de réclamation auprès d'une autorité de contrôle, notamment dans l'État membre de leur résidence habituelle, de leur lieu de travail ou du lieu de la violation présumée. Le droit de réclamation existe sans préjudice d'autres recours administratifs ou juridictionnels.</p>
    <h3>Droit à la portabilité des données</h3>
    <p>Vous avez le droit de vous faire remettre, ou de faire remettre à un tiers, dans un format courant et lisible par machine, les données que nous traitons automatiquement sur la base de votre consentement ou en exécution d'un contrat. Si vous demandez la transmission directe des données à un autre responsable, cela ne sera effectué que dans la mesure où cela est techniquement possible.</p>
    <h3>Chiffrement SSL ou TLS</h3>
    <p>
      Pour des raisons de sécurité et afin de protéger la transmission de contenus confidentiels, tels que les commandes ou les demandes que vous nous envoyez en tant qu'exploitant du site, cette page utilise un chiffrement SSL ou TLS. Vous reconnaissez une connexion chiffrée au fait que la ligne d'adresse du navigateur passe de «&nbsp;http://&nbsp;» à «&nbsp;https://&nbsp;» et au symbole du
      cadenas dans la ligne de votre navigateur.
    </p>
    <p>Lorsque le chiffrement SSL ou TLS est activé, les données que vous nous transmettez ne peuvent pas être lues par des tiers.</p>
    <h3>Information, suppression et rectification</h3>
    <p>
      Dans le cadre des dispositions légales en vigueur, vous avez à tout moment le droit d'obtenir gratuitement des informations sur vos données à caractère personnel enregistrées, leur origine et leurs destinataires ainsi que sur la finalité du traitement des données et, le cas échéant, un droit à la rectification ou à la suppression de ces données. Pour cela ainsi que pour toute autre question
      concernant les données à caractère personnel, vous pouvez nous contacter à tout moment.
    </p>
    <h3>Droit à la limitation du traitement</h3>
    <p>Vous avez le droit de demander la limitation du traitement de vos données à caractère personnel. Pour cela, vous pouvez nous contacter à tout moment. Le droit à la limitation du traitement existe dans les cas suivants&nbsp;:</p>
    <ul>
      <li>Si vous contestez l'exactitude de vos données à caractère personnel enregistrées chez nous, nous avons généralement besoin de temps pour le vérifier. Pendant la durée de la vérification, vous avez le droit de demander la limitation du traitement de vos données à caractère personnel.</li>
      <li>Si le traitement de vos données à caractère personnel s'est produit / se produit de manière illicite, vous pouvez demander la limitation du traitement des données au lieu de la suppression.</li>
      <li>Si nous n'avons plus besoin de vos données à caractère personnel, mais que vous en avez besoin pour l'exercice, la défense ou la constatation de droits en justice, vous avez le droit de demander la limitation du traitement de vos données à caractère personnel au lieu de la suppression.</li>
      <li>Si vous avez formé opposition conformément à l'art. 21 al. 1 RGPD, une mise en balance entre vos intérêts et les nôtres doit être effectuée. Tant qu'il n'est pas encore établi quels intérêts prévalent, vous avez le droit de demander la limitation du traitement de vos données à caractère personnel.</li>
    </ul>
    <p>
      Si vous avez limité le traitement de vos données à caractère personnel, ces données ne peuvent être traitées - à l'exception de leur conservation - qu'avec votre consentement ou pour la constatation, l'exercice ou la défense de droits en justice ou pour la protection des droits d'une autre personne physique ou morale ou pour des motifs d'intérêt public important de l'Union européenne ou d'un
      État membre.
    </p>
    <h3>Opposition aux e-mails publicitaires</h3>
    <p>
      L'utilisation des coordonnées publiées dans le cadre de l'obligation de mentions légales pour l'envoi de publicité et de matériel d'information non expressément demandés est par la présente interdite. Les exploitants des pages se réservent expressément le droit d'engager des poursuites judiciaires en cas d'envoi non sollicité d'informations publicitaires, notamment par des e-mails
      indésirables (spam).
    </p>

    <h2>4. Collecte des données sur ce site web</h2>
    <h3>Fichiers journaux du serveur</h3>
    <p>Le fournisseur des pages collecte et stocke automatiquement des informations dans des fichiers dits journaux du serveur, que votre navigateur nous transmet automatiquement. Il s'agit de&nbsp;:</p>
    <ul>
      <li>type et version du navigateur</li>
      <li>système d'exploitation utilisé</li>
      <li>URL référente</li>
      <li>nom d'hôte de l'ordinateur accédant</li>
      <li>heure de la requête au serveur</li>
      <li>adresse IP</li>
    </ul>
    <p>Aucun regroupement de ces données avec d'autres sources de données n'est effectué.</p>
    <p>La collecte de ces données est effectuée sur la base de l'art. 6 al. 1 lit. f RGPD. L'exploitant du site web a un intérêt légitime à une présentation techniquement irréprochable et à l'optimisation de son site web - pour cela, les fichiers journaux du serveur doivent être collectés.</p>
    <h3>Formulaire de contact</h3>
    <p>Lorsque vous nous adressez des demandes via le formulaire de contact ou par e-mail, vos indications issues du formulaire de demande ou de l'e-mail, y compris les coordonnées que vous y avez indiquées, sont enregistrées chez nous aux fins du traitement de la demande et pour le cas de questions complémentaires. Nous ne transmettons pas ces données sans votre consentement.</p>
    <p>
      Le traitement de ces données est effectué sur la base de l'art. 6 al. 1 lit. b RGPD, dans la mesure où votre demande est liée à l'exécution d'un contrat ou est nécessaire à la réalisation de mesures précontractuelles. Dans tous les autres cas, le traitement repose sur notre intérêt légitime au traitement efficace des demandes qui nous sont adressées (art. 6 al. 1 lit. f RGPD) ou sur votre
      consentement (art. 6 al. 1 lit. a RGPD) si celui-ci a été demandé&nbsp;; le consentement est révocable à tout moment.
    </p>
    <p>
      Les données que vous saisissez dans le formulaire de contact restent chez nous jusqu'à ce que vous nous demandiez de les supprimer, que vous révoquiez votre consentement à la conservation ou que la finalité de la conservation des données disparaisse (par exemple après le traitement complet de votre demande). Les dispositions légales impératives - notamment les délais de conservation -
      restent inchangées.
    </p>

    <h2>5. Cookies et stockage local</h2>
    <p>Nous utilisons des cookies ainsi que le stockage local du navigateur à des fins techniques au sein de l'application. Cela inclut des choses comme la sauvegarde de votre type de connexion préféré, du jeton d'authentification pour votre session de navigateur ou de la langue sélectionnée.</p>
    <p>Ces données ne sont pas partagées avec des tiers. Après l'inscription et la connexion, nous intégrons également des services de tiers. Dans ce cadre, des cookies dits «&nbsp;marketing&nbsp;» ou «&nbsp;de suivi&nbsp;» peuvent être placés. Vous consentez à cette mesure lors de l'inscription.</p>
    <p>Ces services externes peuvent en outre placer leurs propres cookies. Vous trouverez de plus amples informations à ce sujet sur cette page, à l'endroit qui décrit ces services.</p>
    <p>Si vous arrivez sur notre site via l'une de nos annonces, nous conservons éventuellement cette information dans un cookie, qui ne vous est toutefois attribué qu'après l'inscription.</p>

    <h2>6. Plugins et outils</h2>
    <h3>YouTube avec protection des données étendue</h3>
    <p>Ce site web intègre éventuellement des vidéos de YouTube. L'exploitant des pages est Google Ireland Limited («&nbsp;Google&nbsp;»), Gordon House, Barrow Street, Dublin 4, Irlande.</p>
    <p>
      Nous utilisons YouTube en mode de protection des données étendue. Ce mode a pour effet, selon YouTube, que YouTube ne stocke aucune information sur les visiteurs de ce site web avant qu'ils ne regardent la vidéo. La transmission de données aux partenaires de YouTube n'est en revanche pas nécessairement exclue par le mode de protection des données étendue. Ainsi, YouTube établit -
      indépendamment du fait que vous regardiez une vidéo - une connexion au réseau Google DoubleClick.
    </p>
    <p>
      Dès que vous lancez une vidéo YouTube sur ce site web, une connexion est établie avec les serveurs de YouTube. Le serveur YouTube est ainsi informé des pages que vous avez visitées. Si vous êtes connecté à votre compte YouTube, vous permettez à YouTube d'attribuer votre comportement de navigation directement à votre profil personnel. Vous pouvez l'empêcher en vous déconnectant de votre
      compte YouTube.
    </p>
    <p>
      En outre, après le lancement d'une vidéo, YouTube peut stocker divers cookies sur votre terminal ou utiliser des technologies de reconnaissance comparables (par exemple le fingerprinting de l'appareil). De cette manière, YouTube peut obtenir des informations sur les visiteurs de ce site web. Ces informations sont utilisées entre autres pour recueillir des statistiques sur les vidéos,
      améliorer la convivialité et prévenir les tentatives de fraude.
    </p>
    <p>Le cas échéant, après le lancement d'une vidéo YouTube, d'autres opérations de traitement de données peuvent être déclenchées, sur lesquelles nous n'avons aucune influence.</p>
    <p>
      L'utilisation de YouTube a pour objectif une présentation attrayante de nos offres en ligne. Cela constitue un intérêt légitime au sens de l'art. 6 al. 1 lit. f RGPD. Si un consentement correspondant a été demandé, le traitement s'effectue exclusivement sur la base de l'art. 6 al. 1 lit. a RGPD et du § 25 al. 1 TTDSG, dans la mesure où le consentement comprend le stockage de cookies ou
      l'accès à des informations sur le terminal de l'utilisateur (par exemple le fingerprinting de l'appareil) au sens du TTDSG. Le consentement est révocable à tout moment.
    </p>
    <p>Vous trouverez de plus amples informations sur la protection des données chez YouTube dans leur déclaration de protection des données à l'adresse&nbsp;: <a href="https://policies.google.com/privacy?hl=fr" target="_blank" rel="noopener noreferrer">https://policies.google.com/privacy?hl=fr</a>.</p>
  </div>
</Layout>
