---
import { Icon } from "astro-icon/components";
import LightModeSwitcher from "~/src/components/layout/light-mode-switcher";

interface Props {
  label?: string;
}

const { label } = Astro.props as Props;
---

<button
  id="color-mode-switch"
  type="button"
  role="switch"
  {...label && label !== '' ? { 'aria-label': label } : {}}
  aria-checked="false"
  class="group hover:border-primary ring-primary relative inline-flex h-8 w-15 cursor-pointer items-center rounded-full border border-stone-100 bg-stone-200 p-0.5 shadow transition-colors focus-within:ring-2 hover:shadow-lg focus:outline-0 dark:border-stone-600 dark:bg-stone-800"
>
  <span class="pointer-events-none absolute top-1/2 h-6 w-6 -translate-y-1/2 rounded-full bg-stone-600 shadow transition-transform duration-200 ease-in-out group-hover:bg-stone-950 group-focus:bg-stone-950 dark:translate-x-7 dark:bg-stone-500 dark:group-hover:bg-stone-400 dark:group-focus:bg-stone-400"></span>
  <span class="relative z-10 flex h-6 w-6 items-center justify-center">
    <Icon name="heroicons:sun-16-solid" class="h-4 w-4 text-white transition-colors dark:text-stone-600" aria-hidden="true" />
  </span>
  <span class="relative z-10 ml-1 flex h-6 w-6 items-center justify-center">
    <Icon name="heroicons:moon-16-solid" class="h-4 w-4 text-stone-400 transition-colors dark:text-white" aria-hidden="true" />
  </span>
</button>

<LightModeSwitcher client:only />
