---
import Layout from "@layouts/default.astro";
import Headline from "@components/headline.astro";
import FeaturesList from "@components/features/features-list.astro";
import { useTranslations } from "@utils/i18n";
import { themeConfig } from '~/theme.config';

const locale = themeConfig.i18n.defaultLocale;
const t = useTranslations(locale);
---

<Layout title={t('pages.features.title')} description={t('pages.features.description')}>
  <Headline text={t('pages.features.title')} class="pb-10" />
  <p class="mb-10 max-w-2xl text-lg text-stone-600 dark:text-stone-300">{t('pages.features.description')}</p>
  <FeaturesList {locale} />
</Layout>
