---
import { Icon } from "astro-icon/components";

interface Props {
  text: string;
  class?: string;
  icon?: string;
  /** Set if background color is different to the global one */
  backgroundColor?: string;
  backgroundColorDark?: string;
}

const { text, class: className = "", backgroundColor, backgroundColorDark } = Astro.props;
---

<div class:list={['relative mb-5', className]}>
  <div class="xs:left-[-20px] xs:max-w-[calc(100%+40px)] absolute top-0 left-[-15px] w-full max-w-[calc(100%+30px)] sm:left-[-30px] sm:max-w-[calc(100%+60px)] md:left-[-40px] md:max-w-[calc(100%+80px)]">
    <div class="xs:pl-[10px] font-headline overflow-hidden pl-[7px] text-6xl font-bold text-clip whitespace-nowrap italic opacity-5 select-none sm:pl-[15px] sm:text-8xl md:pl-[20px]">
      {text}
    </div>
    <div class="fade-overlay absolute top-0 right-0 h-full w-32" style={`--fade-to: var(--color-${backgroundColor || 'background'}); --fade-to-dark: var(--color-${backgroundColorDark || 'background-dark'})`}></div>
  </div>
  <h2 class="flex items-center gap-1 pt-9 text-3xl font-bold italic opacity-60 select-none sm:gap-2 sm:pt-14 sm:text-5xl">
    {Astro.props.icon && <Icon name={Astro.props.icon} class="mt-0.5 h-7 w-7 sm:mt-1 sm:h-10 sm:w-10" />}
    {text}
  </h2>
</div>

<style>
  .fade-overlay {
    background: linear-gradient(to right, transparent, var(--fade-to));
  }
  :global(.dark) .fade-overlay {
    background: linear-gradient(to right, transparent, var(--fade-to-dark));
  }
</style>
