---
import { Icon } from "astro-icon/components";
import { useTranslations } from "@utils/i18n";

interface Props {
  locale: string;
}

const { locale } = Astro.props as Props;
const version = '0.0.1';
const t = useTranslations(locale);
---

<a href="https://github.com/Peltmonger/stardrive" target="_blank" rel="noopener" class="flex group gap-1.5 no-underline items-center py-1.5 px-4 rounded-full text-[0.7rem] xs:text-[0.8rem] font-semibold text-white/80 hover:text-white bg-rose-800/70 border border-rose-500/50">
  <span>{t("pages.home.hero-chip")}: v{version}</span>
  <Icon name="heroicons:arrow-right" class="h-3 w-3 group-hover:ml-1 transition-all duration-300" />
</a>