---
import { useTranslations, getLocaleUrl } from "@utils/i18n";
import { themeConfig } from '~/theme.config';

interface Props {
  locale: string;
}

const { locale } = Astro.props as Props;
const t = useTranslations(locale);
const currentYear = new Date().getFullYear();
---

<nav role="navigation" class="flex flex-col-reverse flex-wrap gap-x-2 gap-y-4 text-xs text-stone-300 select-none sm:gap-y-2 sm:text-left lg:flex-row-reverse">
  <div class="mx-auto flex flex-wrap justify-center gap-x-6 gap-y-3 sm:gap-2 md:mx-0 md:justify-start">
    <a class="unstyle-link hover:text-text-dark" href={getLocaleUrl('legal-notice', locale)}>{t('nav.legal-notice')}</a>
    <div class="hidden opacity-50 sm:block">|</div>
    <a class="unstyle-link hover:text-text-dark" href={getLocaleUrl('privacy-policy', locale)}>{t('nav.privacy-policy')}</a>
  </div>
  <div class="hidden opacity-50 lg:block">|</div>
  <div>&copy; {currentYear} {themeConfig.publisher.name} | MIT license</div>
</nav>
